#container {
    -fx-background-image: url("https://images.unsplash.com/photo-1575548384252-411ab3abf741?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}